NODE_ENV=production

# Backend
BACKEND_PORT=8000
BACKEND_HOST=0.0.0.0
BACKEND_URL=https://api.cungu.com
JWT_SECRET=4f3a8d9b2c7e1a9f4b1c7d8e3f2a1c5d7e8f9a0b1c2d3e4f5a6b7c8d9e0f1a
DB_HOST=db
DB_PORT=5432
DB_USER=wms_user
DB_PASS=xY7#rWkP9vLzQ4bS
DB_NAME=wms_prod
TV_KIOSK_TOKEN=lzCjLU8TpsvJyxFcmf1mfBIWcFb083qP2Yi8sBs56HyTHhmThkKy7GKxecgky0H5iFAx1pWKh02tvxLML01BN1OxHZcrsTMF372fkiy7npqRhfuV95ZYb6b8rzUi2TxJhJ8EdQ1KvwFNW1iHLjYlng97j8ChshufSOqsG0keMzboNwHP9tBsTT08IqOof4Ib7Fz9ixLz5IGd4KtX9LMSJUTdyl4XFKMTMPQ9W3Yr12wUWC8fqmZ3PzWYviPZq3Hn
NEXT_PUBLIC_TV_KIOSK_TOKEN=${TV_KIOSK_TOKEN}

# Frontend Admin
ADMIN_PUBLIC_URL=https://admin.cungu.com

# PWA
PWA_PUBLIC_URL=https://pwa.cungu.com

# TV Dashboard
TV_PUBLIC_URL=https://tv.cungu.com

# CORS
CORS_ORIGINS=https://admin.cungu.com,https://pwa.cungu.com,https://tv.cungu.com

# LOGGING
LOG_LEVEL=info

